@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.App {
  /* text-align: center; */
  /* align-items: center; */
  background-color: rgb(0, 0, 0);
  height: 2500px;
}
.lightsaber{
  position: relative;
  min-height: 200px;

}
.parts{
  margin-top: -500px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Para que ocupe todo el ancho si lo deseas */
}
.space{
  background-color: rgb(0, 0, 0);
  height: 100px;
}
.botones{
  display: grid;
  width: 100px;
  z-index: 1;
  
}
.botones button{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 15px;
  padding: 5px;
  font-size: 17px;
  color: white;
  margin-left: 15px;
  border: none;
  border-radius: 5px;
  /* box-shadow: 0 0 10px white */
}
.botones button:hover{
  color: black;
  background-color: white;
  cursor: pointer;
}
.light{
  margin-left: 240px;
  height: 800px;
  width: 36px;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: aliceblue;
  margin-bottom: -37px;
  z-index: 2;
  animation: ignite 1.0s forwards;

}
.light-off{
  margin-left: 240px;
  height: 800px;
  width: 36px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: aliceblue;
  margin-bottom: -37px;
  z-index: -1;
  animation: ignite-off 1.0s forwards;

}

.boton-verde{
  background: green;

}
.boton-azul{
  background: rgb(26, 14, 199);
}
.boton-aqua{
  background: rgb(108, 231, 190);
}
.boton-rojo{
  background: rgb(245, 29, 29);
}
.boton-amarillo{
  background: rgb(199, 196, 21);
}
.boton-purple{
  background: rgb(124, 0, 124);
}


.black{
  margin-left: 240px;
  height: 800px;
  width: 40px;
  border-top-left-radius: 150px;
  border-top-right-radius: 450px;
  background: rgb(0, 0, 0);
  margin-bottom: -29px;
  box-shadow: 0 0 5px rgb(255, 255, 255),
              0 0 25px rgb(255, 255, 255),
              0 0 50px rgb(255, 255, 255),
              0 0 100px rgb(255, 255, 255);
  transition: trans 50ms ease-out;
  transform-origin: bottom;            
}
.nothing{
  margin-left: 235px;
  height: 800px;
  width: 45px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: rgb(0, 0, 0);
  margin-bottom: -29px;
  transition: 0.5s;
  animation: ignite-off 1.5s forwards;

}
.saber{
  position: relative;
  margin-left: 210px;
  height: 320px;
  width: 100px;
  z-index: 1000;
}
.saber:hover{
  cursor: pointer;
}

@keyframes ignite {
  0% {
    height: 0;
    opacity: 0;
  }
  70% {
    height: 800px; /* Desired final height */
    opacity: 1;
  }
  100% {
    height: 800px;
    opacity: 1;
  }
}
@keyframes ignite-off {
  0% {
    height: 800px;
    opacity: 1;
  }
  70% {
    height: 10px; /* Desired final height */
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}